[tool.poetry]
name = "src"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
torch = "^1.13.1"
opencv-contrib-python = "^4.8.0.74"
torchvision = "0.14.1"
open3d = "^0.17.0"
scikit-learn = "^1.3.0"
addict = "^2.4.0"
pandas = "^2.0.3"
tqdm = "^4.65.0"
seaborn = "^0.12.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
